# Jetbrains project files
.idea
*.iml

cmd/costmodel/costmodel
cmd/costmodel/costmodel-amd64
cmd/costmodel/costmodel-arm64
cmd/costmodel/costmodel-tilt

pkg/cloud/azureorphan_test.go

pkg/cloud/oracle/cloud-integration.json

# VS Code
.vscode

#Apple
*.DS_Store

# tilt
tilt_config.json
